#profile {
  height: 600px;
}
#profile img {
  width: 200px;
  height: 200px;
  padding: 20px;
  border-radius: 50%;
}
.description span:first-child {
  color: rgb(22, 0, 122);
}
.description {
  padding: 10px;
  font-size: 20px;
}
